<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>

    <style>
        body{
            font-family: Arial, sans-serif;
            background-color: #29849075;
            margin: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        h1{
            text-align: center;
        }

    </style>

</head>
<body>
    <h1>A sua senha precisa conter ao menos uma letra maiúscula!</h1>
</body>
</html>